<!--9 hard-coded pictures with values of url?-->
<!--ng model or ng click?-->
<div>
    <h2 class="centerText">Please choose a new avatar:</h2>
    <div>
        <button class="avatarBtn" ng-click="saveNewAvatar()">Save</button>
    </div>
    <br>
    <div class="row centerText">
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/Poetess.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/Poetess.jpg"></label>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/TrojanHorse.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/TrojanHorse.jpg"></label>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/thinking.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/thinking.jpg"></label>
        </div>
    </div>
    <div class="row centerText">
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/Medusa.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/Medusa.jpg"></label>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/MilesGloriosus.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/MilesGloriosus.jpg"></label>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/DeusFontis.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/DeusFontis.jpg"></label>
        </div>
    </div>
    <div class="row centerText">
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/Heracles.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/Heracles.jpg"></label>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/SurprisedTree.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/SurprisedTree.jpg"></label>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="avatar" value="images/Flavia.jpg" ng-model="newAv.photo"><img class="lgAvatar" src="images/Flavia.jpg"></label>
        </div>
    </div>
</div>