<div>

<h2 class="centerText">Please choose your Roman Name:</h2>
<div class="nameInput">
    <input class="roman" type="text" name="romanNameChoice" ng-model="newName.romanName">
</div>

<button class="avatarBtn" ng-click="saveNewRomanName()">Save</button>
</div>

<div>
    <h2 class="centerText">If you're not certain what name you want, please use this information to help you choose:</h2>

    <a  href="https://www.behindthename.com/glossary/view/roman_names" target="_blank"><button class="avatarBtn">Information about Roman Names</button></a>
    <a href="https://www.behindthename.com/names/usage/ancient-roman" target="_blank"><button class="avatarBtn">List of Roman Names</button></a>

</div>