<div class="container-fluid">
    <section class="row">
        <div class="col-md-8">
            <h2>My Favorite Videos</h2>
        </div>
    </section>
    <section class="row">
        <div ng-repeat="video in faves" class="col-md-4">
            <div class="card" id="{{video.video_id}}">
                <div class="card-image">
                    <div anguvideo ng-model="video.video_url" width="250" height="250"></div>
                </div>
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <button ng-click ="deleteUserFaves(video.video_id)" class="deleteBtn">Delete</button>
            </div>
        </div>
    </div>
</section>
</div>