<section class="welcome">
    <h2>Salve, {{userObject.name}}!</h2>
    <img class="welcomeImg" ng-src="{{userObject.photoUrl}}">
    <div class="">
        <!--if change, direct user to new view-->
        <a href="#!/chooseUsername"><button class="avatarBtn">Adopt a Roman Name</button></a>
        <a href="#!/chooseAvatar"><button class="avatarBtn">Change my Avatar</button></a>
        <!--if keeping, give message about exploring site using a collapse-->
        <button class="avatarBtn" data-toggle="collapse" data-target="#greeting">Keep my Avatar</button>
        <div id="greeting" class="collapse">
            <h2 class="centerText highlight" >Gratias!  Please explore the site by clicking "Open" above.</h2>
        </div>
    </div>
</section>