<div ng-repeat="item in topic" class="">
    <h2 class="inline">{{item.title}}</h2>
    <div class="inline floatR" ng-include ="'partials/avatar.html'">
    </div>
    <p><a ng-href={{item.exercise_url}}  target="_blank" role="button"><button class="exerciseBtn">Exercises</button></a></p>
    <section class="row">
        <div ng-repeat="video in item.videos" class="col-md-4">
            <div class="card angVid" id ="{{video.video_id}}">
                <div class="card-image">
                    <div anguvideo ng-model="video.video_url" width="250" height="250"></div>
                </div>
                <div class="card-content">
                    <!-- <span class="card-title">{{item.title}}</span> -->
                    <button ng-controller="FavesController" ng-click ="postVideoToUserFaves(video.video_id, item.topic_id)" class="addBtn">Add to Favorites</button>
                </div>
            </div>
        </div>
    </section>
</div>