<div class="jumbotron">
    <h1>{{title}}</h1>
    <p><a class="btn btn-primary btn-lg" ng-href={{exercise_url}}  target="_blank" role="button">Exercises</a></p>
</div>
<section class="row">
    <div ng-repeat="video in topics.topic.videos" class="col-md-4">
        <div class="card" id ="{{topic_id}}">
            <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" ng-src={{video}} frameborder="0" allowfullscreen>
                        <!--how to loop through this array to get at those videos  .forEach or go deeper and do video in videos for repeat?-->
                    </iframe>
                </div>
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <button ng-click ="" class="addBtn">Add to Favorites</button>
            </div>
        </div>
    </div>
</section>